{% extends "base.html" %}

{% block title %}Application Submitted{% endblock %}

{% block body %}
<h1 class="mt-4 text-success">Application Submitted</h1>

<p>You have successfully applied for <b>{{ job['title'] }}</b>.</p>

<h3 class="mt-4">Submitted Details</h3>

<ul class="list-group">
  <li class="list-group-item"><b>Full Name:</b> {{ application['full_name'] }}</li>
  <li class="list-group-item"><b>Email:</b> {{ application['email'] }}</li>
  <li class="list-group-item"><b>LinkedIn URL:</b> {{ application['linkedin_url'] }}</li>
  <li class="list-group-item"><b>Education:</b> {{ application['education'] }}</li>
  <li class="list-group-item"><b>Work Experience:</b> {{ application['work_experience'] }}</li>
  <li class="list-group-item"><b>Resume URL:</b> {{ application['resume_url'] }}</li>
</ul>

<a href="/" class="btn btn-secondary mt-4">Back to Home</a>
{% endblock %}